---
import Layout from '../layouts/Layout.astro'
---
<Layout titre="Accueil">
  <h1 class="text-5xl font-extrabold text-yellow-400 mb-4">Accueil</h1>
  <p class="text-green-900 text-lg mb-4">
    Bienvenue sur notre agence immobilière ! Découvrez les meilleures offres pour trouver votre maison ou appartement idéal.
  </p>
  <p class="text-green-900">
    Nous vous accompagnons dans toutes les étapes de votre recherche immobilière.
  </p>
</Layout>


