---
import Header from '../components/Header.astro'
---
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Offres</title>
  </head>
  <body>
        <Header />
    <h1>Offres</h1>
  </body>
</html>
