---
import Layout from '../layouts/Layout.astro'
---
<Layout titre="Offres">
  <h1 class="text-5xl font-extrabold text-yellow-400 mb-4">Offres</h1>
  <p class="text-green-900 text-lg mb-4">
    Voici nos dernières offres disponibles. Cliquez sur chaque annonce pour plus de détails.
  </p>
  <p class="text-green-900">
    Nous mettons régulièrement à jour nos listings pour vous proposer les meilleures opportunités.
  </p>
</Layout>
