<nav class="flex gap-6 p-4 bg-yellow-50 shadow-md rounded-md">
  <a href="/" class="text-yellow-600 font-semibold hover:underline">Accueil</a>
  <a href="/offres" class="text-yellow-600 font-semibold hover:underline">Offres</a>
</nav>
